.wrap {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  .member {
    border-radius: 5px;
    background: #b993d6;
    background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
    background: linear-gradient(to right, #8ca6db, #b993d6);
    width: auto;
    padding: 5px;
    height: 200px;
    box-shadow: 10px 10px  #b4acc0;
    transition: 0.5s;
  }
  .member:hover {
    background-color: cornflowerblue;
    color: aliceblue;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }
}

.btn {
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  display: flex;
  margin: auto;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
